.containor{
height: 95vh;
display: grid;
grid-template-rows: 1fr 2fr 1fr 1fr;
border: 2px solid black;
text-align: center;
}
.header{

background-color: aqua;

}
.main{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
}
.Nav{
    background-color: blanchedalmond;
}
.body{
background-color: aquamarine;
}
.aside{
    background-color: azure;
}

.about{
    background-color: cadetblue;
}
.footer{
    background-color: bisque;
}