.containor{
    display: grid;
    height: 600px;
    background-color: aquamarine;
    grid-template-areas: "header header header header"
    "nav body body aside"
    "nav body body aside"
     " about about about about" 
     " footer footer footer footer";
}
 .header{
      background-color: bisque; 
      grid-area: header; 
 }
 .nav{
   background-color: rgb(160, 95, 98);
   grid-area: nav;
 }
 .body{
    background-color: brown;
    grid-area: body;
 }
 .aside{
    background-color: burlywood;
    grid-area: aside;
 }
 .about{
    background-color: cadetblue;
    grid-area:about ;
 }
 .footer{
    background-color: rgb(0, 255, 81);
    grid-area: footer;
 }