body{
    display: flex;
    justify-content: center;
}
form{
    width: 600px;
    height: 900px;
background-color: aqua;
text-align: center;
}
.name input{
margin-top:10px ;
width: 250px;
height: 30px;
border: 3px solid lightgreen;
border-radius: 10px;
}
.id{
    margin-top: 15px;
    color: #2A302C;
}
.id input{
    margin-top:10px ;
width: 520px;
height: 30px;
border: 3px solid lightgreen;
border-radius: 10px;
}

.department{
    margin-top: 15px;
    color: #2A302C;
}
.department select{
    margin-top:10px ;
    width: 530px;
    height: 40px;
    border: 3px solid lightgreen;
    border-radius: 10px;
}
.email input{
    margin-top:10px ;
width: 520px;
height: 30px;
border: 3px solid lightgreen;
border-radius: 10px;
}
.gender{
    margin-top: 15px;
}
.phone input{
    margin-top:10px ;
    width: 520px;
    height: 30px;
    border: 3px solid lightgreen;
    border-radius: 10px;
}
address{
    margin-top: 15px;
    color: #2A302C;
}
.address textarea{
    margin-top:10px ;
    width: 520px;
    height: 30px;
    border: 3px solid lightgreen;
    border-radius: 10px;
}
button{
    width: 200PX;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #9CDB56;
    border: none;
    font-family: arial;
    font-size: 18px;
}